*{
  margin:0px;
  padding:0px;
}
body{
  font-family: sans-serif;
  background-color: #f9f9fd;
  background-image: radial-gradient(#9448cc 2px, #f9f9fd 2px);
  background-size: 40px 40px;
}

.container{
  width:280px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #9448cc;
  padding: 16px;
  border-radius:8px;
}
p{
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  margin:10px;
}

#inputarea{
  width:251px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  outline: none;
  padding: 0px 5px;
  color:#333;
  border: none;
  border-radius: 5px;
}

#inputarea:focus{
  border: 2px solid #7575ff;
}

.avtar{
  width:250px;
  height: 180px;
  margin: 10px 10px;
  padding: 0px 5px;
  background-color: #fff;
}
#img{
  width:250px;
  height: 180px;
}
input[type=button]{
  border:none;
  outline: none;
  width:260px;
  height:40px;
  margin:0px 10px;
  font-size:15px;
  color:#666;
}
span{
  margin-left:80px;
  color:#ddf;
}
